    html,
    body,
    h1,
    h2,
    a,
    p {
        position: relative;
        margin: 0;
        padding: 0;
    }
    
    html {
        font-size: calc(100vw/14.4);
    }
    
    body {
        font-size: 0.16rem;
    }
    
    .header-logo {
        margin: 0.3rem 0 0 0.8rem;
        display: inline-block;
        position: relative;
    }
    
    .top-part {
        width: 100%;
        height: 9rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("https://s3-alpha-sig.figma.com/img/533b/9aeb/cb4646f8ced269a777c9f4b8c123d04e?Expires=1606694400&Signature=flbOFLNY3jGTs~16C9SAX~0Rkyz5AyB-dcI-nE4~n6P8LS1GWbPAjMNBTwQ2Qgry8VgHgHW33mtOC5Mo2bW9809aTMZeP1lg69yMDYoSrbZS86KZoRydvn2fF7CoPWWQfraWwlXAyo4JLediCfoCk5IP7TAYqZugW6u5Nb3DlslQEE~nVDgSAu3v1R9CjyQ2eeRTg~Aj50Tqka4I7cEI3LRxcnIMy03uke9T2pzxFXy73T-FTKSZCD9L1yJxoBuYMYDmudGBMQCKdCqkDZDoxD-O0iH1GVe7kVjE-ZqI5dTIOoGdL~Y71gJ0tfzIPj01MxD~ZDjuJdccqn~KY2dkUg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    }
    
    .top-container {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }
    
    .top-container-contain {
        max-width: 1440px;
    }
    
    .header-logo-contain {
        display: inline-block;
    }
    
    .header-logo-line img {
        width: min(2rem, 200px);
    }
    
    .header-contact {
        float: right;
        position: absolute;
        top: 0.3rem;
        right: 0.8rem;
    }
    
    .header-contact-phone {
        float: left;
        position: relative;
        width: clamp(200px, 4rem, 235px);
        margin-right: min(0.3rem, 30px);
    }
    
    .phone {
        font-family: 'Mplus 1p';
        font-style: normal;
        font-weight: 600;
        font-size: min(0.1rem, 10px);
        line-height: 11px;
        padding: 5px 5px 0 5px;
        width: 10px;
        display: inline-block;
        height: 35px;
        background-color: rgba(255, 255, 255, 1);
        vertical-align: middle;
    }
    
    .phone-number {
        display: inline-block;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: clamp(14px, 0.24rem, 24px);
        line-height: min(0.22rem, 22px);
        color: rgba(235, 87, 87, 1);
        vertical-align: middle;
    }
    
    .business-hours {
        font-family: Mplus 1p;
        font-style: normal;
        font-weight: 550;
        font-size: min(0.12rem, 12px);
        line-height: 0.12rem;
        color: black;
    }
    
    .header-contact a {
        text-decoration: none;
        color: rgba(235, 87, 87, 1);
        font-style: normal;
        font-weight: 500;
        background: #FFFFFF;
        padding: min(0.13rem, 13px) min(0.38rem, 38px);
        border-radius: 40px;
        line-height: 33px;
        font-size: min(0.14rem, 14px);
    }
    
    .top-contain {
        margin: 1.5rem min(1.2rem, 120px);
    }
    
    .top-body-1 {
        font-size: min(0.24rem, 24px);
        font-weight: 600;
    }
    
    .top-body-2 {
        margin-top: min(0.32rem, 32px);
        font-size: min(0.4rem, 40px);
    }
    
    .top-body-mid {
        margin-top: min(0.64rem, 64px);
    }
    
    .top-body-mid p {
        display: inline-block;
        text-align: center;
        background-color: #FFFFFF;
        border: 1px solid #F6F6F6;
        box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.1), inset -2px -2px 2px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        font-size: min(0.2rem, 20px);
        font-weight: 600;
    }
    
    .top-mid-content-1 {
        float: left;
        padding: min(0.2rem, 20px) min(0.5rem, 50px);
    }
    
    .top-mid-content-2 {
        margin-left: 0.2rem;
        padding: min(0.2rem, 20px) min(0.35rem, 35px);
    }
    
    .top-mid-span-1 {
        font-size: min(0.32rem, 32px);
        color: rgba(235, 87, 87, 1);
    }
    
    .top-mid-span-2 {
        color: rgba(235, 87, 87, 1);
    }
    
    .top-body-contact {
        margin-top: 0.7rem;
        position: relative;
    }
    
    .top-contact-button {
        background-color: #EB5757;
        border-radius: 80px;
        font-size: min(0.2rem, 20px);
        font-weight: 800;
        text-decoration: none;
        color: rgba(255, 255, 255, 1);
        padding: min(0.26rem, 26px) min(1.5rem, 150px);
        display: inline-block;
    }
    
    .top-contact-button-sub {
        color: rgba(235, 87, 87, 1);
        font-size: min(0.12rem, 12px);
        padding: min(0.09rem, 9px) min(0.1rem, 10px);
        display: inline-block;
        background-color: rgba(246, 246, 246, 1);
        border-radius: 2px;
        position: absolute;
        top: -20px;
        left: 0.2rem;
    }
    
    .second-container {
        width: 100%;
    }
    
    .container-about {
        max-width: 1440px;
        margin: 1.8rem auto;
    }
    
    .about-header h2 {
        text-align: center;
        font-weight: 600;
        font-size: min(0.28rem, 28px);
        line-height: min(0.48rem, 48px);
    }
    
    .about-header-span {
        color: rgba(235, 87, 87, 1);
    }
    
    .about-body {
        margin: min(2.1rem, 210px) 0;
        text-align: center;
    }
    
    .about-background {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: min(2rem, 200px);
        line-height: min(1.6rem, 160px);
        color: #F6F6F6;
        z-index: -1;
        position: absolute;
        top: -1rem;
    }
    
    .about-picture {
        display: inline-block;
        position: relative;
    }
    
    .about-picture img {
        width: min(5rem, 500px);
        vertical-align: middle;
    }
    
    .about-text {
        display: inline-block;
        vertical-align: middle;
        margin-left: min(0.8rem, 80px);
        text-align: left;
    }
    
    .about-text-head {
        font-size: min(0.24rem, 24px);
        font-style: normal;
        font-weight: 600;
        line-height: min(0.48rem, 48px);
    }
    
    .about-text-head-span {
        font-size: min(0.48rem, 48px);
        color: rgba(235, 87, 87, 1);
    }
    
    .about-text-detail {
        font-size: min(0.2rem, 20px);
        line-height: min(0.32rem, 32px);
        font-weight: 600;
        margin-top: min(0.3rem, 30px);
    }
    
    .text-detail-span {
        color: rgba(235, 87, 87, 1);
    }
    
    .about-text ul {
        list-style: none;
        padding: 0;
        margin-top: min(0.3rem, 30px);
    }
    
    .about-text li {
        font-size: min(0.18rem, 18px);
        font-weight: 600;
        margin-bottom: min(0.2rem, 2px);
    }
    
    .example {
        width: 100%;
        background-color: rgba(246, 246, 246, 1);
    }
    
    .example-inside {
        max-width: 1440px;
        margin: 0 auto;
        padding: min(1.8rem, 180px) min(0.8rem, 80px);
    }
    
    .example-logo-1 {
        text-align: center;
        line-height: min(0.48rem, 48px);
        margin-bottom: min(0.48rem, 48px);
    }
    
    .example-logo-1 p {
        font-size: min(0.28rem, 28px);
        font-weight: 600;
    }
    
    .example-logo-1 h2 {
        font-size: min(0.4rem, 40px);
        font-weight: 600;
    }
    
    .example-contain-1 {
        background: #EB5757;
        opacity: 0.9;
        border-radius: 20px;
        color: rgba(255, 255, 255, 1);
        padding: min(1.2rem, 120px) 0;
    }
    
    .example-logo {
        text-align: center;
        margin-bottom: min(0.48rem, 48px);
    }
    
    .example-logo-white {
        font-size: min(0.32rem, 32px);
        line-height: min(0, 48rem, 48px);
    }
    
    .example-logo-color {
        font-size: min(0.4rem, 40px);
        line-height: min(0.59rem, 59px);
        color: rgba(254, 247, 166, 1);
    }
    
    .example-contents {
        text-align: center;
        margin-bottom: min(0.48rem, 48px);
    }
    
    .example-content-1 {
        display: inline-block;
        vertical-align: middle;
    }
    
    .example-content-2 {
        display: inline-block;
        vertical-align: middle;
    }
    
    .example-content-number {
        display: inline-block;
        vertical-align: middle;
        font-family: Montserrat;
        font-style: italic;
        font-weight: 600;
        font-size: min(0.8rem, 80px);
        line-height: min(0.4rem, 40px);
        color: #FEF7A6;
    }
    
    .example-content-1-text {
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        font-size: min(0.2rem, 20px);
        line-height: min(0.48rem, 48px);
    }
    
    .example-content-1-span {
        font-size: min(0.4rem, 40px);
    }
    
    .example-content-2 {
        margin-left: min(0.5rem, 50px);
    }
    
    .example-content-2-text {
        display: inline-block;
        vertical-align: middle;
        text-align: left;
    }
    
    .example-content-2-text-1 {
        font-size: min(0.2rem, 20px);
        line-height: min(0.4rem, 40px);
    }
    
    .example-content-2-text-2 {
        font-size: min(0.4rem, 40px);
        line-height: min(0.34rem, 34px);
    }
    
    .example-content-2-text-2-span {
        font-size: min(0.2rem, 20px);
    }
    
    .example-content-2-text-3 {
        font-size: min(0.12rem, 12px);
        line-height: min(0.12rem, 12px);
    }
    
    .example-list-top {
        margin: 0 min(0.8rem, 80px) min(0.51rem, 51px);
    }
    
    .example-list-top-sub {
        display: inline-block;
        vertical-align: top;
        text-align: center;
        width: 24%;
    }
    
    .example-list-under {
        margin: 0 min(2.27rem, 227px);
    }
    
    .example-list-under-sub {
        display: inline-block;
        vertical-align: top;
        text-align: center;
        width: 32%;
    }
    
    .example-list-imgs {
        width: min(2.4rem, 240px);
        margin-bottom: min(0.2rem, 20px);
    }
    
    .example-list-top-sub-img {
        position: relative;
    }
    
    .example-img-cinemas {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
        z-index: 5;
        width: min(2.1rem, 210px);
    }
    
    .example-img-hand {
        width: min(1.22rem, 122px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
        z-index: 5;
    }
    
    .example-top-img-white {
        z-index: -2;
        width: min(2.4rem, 240px);
        margin-bottom: min(0.2rem, 20px);
    }
    
    .example-list-title {
        font-size: min(0.2rem, 20px);
        font-weight: 800;
        line-height: min(0.2rem, 20px);
        margin: 0 0 min(0.12rem, 12px);
    }
    
    .example-list-text {
        font-size: min(0.16rem, 16px);
        line-height: min(0.2rem, 20px);
        margin: min(0.12rem, 12px) 0;
    }
    
    .example-list-text-span {
        font-size: min(0.24rem, 24px);
        font-weight: 800;
        line-height: min(0.2rem, 20px);
        color: rgba(254, 247, 166, 1);
    }
    
    .example-logo-2 {
        text-align: center;
        line-height: min(0.48rem, 48px);
        margin-bottom: min(0.48rem, 48px);
        margin: min(1.2rem, 120px) 0 min(0.48rem, 48px);
    }
    
    .example-logo-2 p {
        font-size: min(0.2rem, 28px);
        font-weight: 600;
    }
    
    .example-logo-2 h2 {
        font-size: min(0.4rem, 40px);
        font-weight: 600;
    }
    
    .example-logo-2-sub {
        font-size: min(0.32rem, 32px);
        line-height: min(0.48rem, 48px);
        text-align: center;
        margin: 0 0 min(0.8rem, 80px);
    }
    
    .example-logo-2-sub-span {
        font-size: min(0.4rem, 40px);
        color: rgba(254, 247, 166, 1);
    }
    
    .example-logo-2-sub-span-2 {
        font-size: min(0.28rem, 28px);
    }
    
    .shopping-tools {
        margin: 0 min(0.9rem, 90px);
    }
    
    .shopping-tool {
        display: inline-block;
        width: 19%;
        text-align: center;
    }
    
    .shopping-tool img {
        width: min(1.8rem, 180px);
    }
    
    .shopping-tool p {
        font-size: min(0.24rem, 24px);
        line-height: min(0.24rem, 24px);
        margin: min(0.2rem, 20px) 0 min(0.6rem, 60px);
    }
    
    .benefits {
        background-color: rgba(255, 250, 210, 1);
        width: 100%;
        z-index: -2;
    }
    
    .benefits-background {
        position: absolute;
        top: min(1.84rem, 184px);
        left: min(4.45rem, 445px);
        z-index: -1;
        color: rgba(254, 247, 166, 1);
        font-size: min(2rem, 200px);
        line-height: min(1.6rem, 160px);
        font-weight: 800;
    }
    
    .benefits-inside {
        padding: min(1.8rem, 180px) min(1.2rem, 120px);
        max-width: 1440px;
        position: relative;
        margin: 0 auto;
        z-index: 0;
    }
    
    .benefit-logo {
        margin: 0 0 min(0.76rem, 76px);
    }
    
    .benefit-logo h2 {
        font-size: min(0.48rem, 48px);
        line-height: min(0.64rem, 64px);
    }
    
    .benefit-logo-span {
        color: rgba(235, 87, 87, 1);
        font-size: min(0.64rem, 64px);
    }
    
    .benefit-contain-shipping {
        display: inline-block;
        vertical-align: top;
        width: 48%;
    }
    
    .shipping-top {
        background-color: rgba(255, 255, 255, 1);
        text-align: center;
        font-size: min(0.24rem, 24px);
        line-height: min(0.36rem, 36px);
        padding: min(0.1rem, 10px) 0;
        font-weight: 600;
        margin: 0 0 min(0.4rem, 40px);
    }
    
    .shipping-top-span-six {
        font-size: min(0.4rem, 40px);
        color: rgba(235, 87, 87, 1);
    }
    
    .shipping-top-span {
        color: rgba(235, 87, 87, 1);
    }
    
    .shipping-contain-top {
        font-size: min(0.32rem, 32px);
        line-height: min(0.32rem, 32px);
        font-weight: 600;
    }
    
    .shipping-contain-mid {
        margin: min(0.4rem, 40px) 0;
    }
    
    .shipping-mid-illust {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        width: 30%;
    }
    
    .shipping-mid-illust-top {
        font-size: min(0.24rem, 24px);
        font-weight: 600;
    }
    
    .shipping-mid-illust-top-span {
        font-size: min(0.4rem, 40px);
        color: rgba(235, 87, 87, 1);
        line-height: min(0.4rem, 40px);
    }
    
    .shipping-mid-illust img {
        width: min(0.55rem, 55px);
        height: min(0.4rem, 40px);
        display: inline-block;
        vertical-align: middle;
    }
    
    .shipping-mid-illust-p {
        display: inline-block;
        vertical-align: middle;
        font-size: min(0.24rem, 24px);
        line-height: min(0.4rem, 40px);
        font-weight: 600;
    }
    
    .shipping-mid-illust-span {
        font-size: min(0.4rem, 40px);
        color: rgba(235, 87, 87, 1);
    }
    
    .shipping-mid-points {
        display: inline-block;
        vertical-align: middle;
        font-weight: 600;
    }
    
    .shipping-contain-foot {
        font-size: min(0.2rem, 20px);
        font-weight: 600;
    }
    
    .benefit-contain-coupon {
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 3%;
        width: 48%;
    }
    
    .coupon-logo {
        background-color: rgba(255, 255, 255, 1);
        text-align: center;
        font-size: min(0.24rem, 24px);
        line-height: min(0.36rem, 36px);
        padding: min(0.1rem, 10px) 0;
        font-weight: 600;
        margin: 0 0 min(0.4rem, 40px);
    }
    
    .coupon-logo-span {
        font-size: min(0.32rem, 32px);
        color: rgba(235, 87, 87, 1);
    }
    
    .coupon-contain-text-top {
        margin: min(0.4rem, 40px) 0;
        font-size: min(0.32rem, 32px);
        font-weight: 600;
    }
    
    .coupon-contain p {
        display: inline-block;
        vertical-align: middle;
    }
    
    .coupon-contain img {
        width: min(1.2rem, 120px);
        vertical-align: middle;
    }
    
    .coupon-contain-x {
        font-weight: 600;
        font-size: min(0.24rem, 24px);
        line-height: min(0.24rem, 24px);
    }
    
    .coupon-contain-text {
        font-size: min(0.2rem, 20px);
        font-weight: 600;
    }
    
    .coupon-contain-text span {
        font-size: min(0.4rem, 40px);
        font-weight: 800;
        color: rgba(235, 87, 87, 1);
    }
    
    .coupon-foot {
        margin: min(0.4rem, 40px) 0;
        font-size: min(0.2rem, 20px);
        font-weight: 600;
    }
    
    .price {
        width: 100%;
        margin: 0 auto;
    }
    
    .price-background {
        z-index: -1;
        font-weight: 700;
        font-size: min(2rem, 200px);
        line-height: min(1.6rem, 160px);
        color: #F6F6F6;
        position: absolute;
        top: min(1.8rem, 180px);
        right: min(1.2rem, 120px);
    }
    
    .price-contain {
        position: relative;
        max-width: 1440px;
        padding: min(1.8rem, 180px) min(1.2rem, 120px);
        margin: 0 auto;
    }
    
    .price-contain-top {
        text-align: center;
        margin: min(0.4rem, 40px) 0;
    }
    
    .price-logo h2 {
        font-size: min(0.48rem, 48px);
        line-height: min(0.48rem, 48px);
        font-weight: 600;
        margin: 0 0 min(0.8rem, 80px);
    }
    
    .price-top-month-price {
        font-size: min(0.2rem, 20px);
        color: #FFFFFF;
        background-color: #282828;
        display: inline-block;
        padding: min(0.25rem, 25px) min(0.1rem, 10px);
        writing-mode: vertical-lr;
    }
    
    .price-top-price {
        font-size: min(0.3rem, 30px);
        line-height: min(0.4rem, 40px);
        font-weight: 600;
        display: inline-block;
        margin: 0 min(0.2rem, 20px);
    }
    
    .price-top-price span {
        font-size: min(1.2rem, 120px);
        line-height: min(1rem, 100px);
        font-weight: bold;
        font-family: Heebo;
        color: rgba(235, 87, 87, 1);
    }
    
    .price-contain-top-free {
        display: inline-block;
        text-align: left;
        margin: 0 0 0 min(0.3rem, 30px);
    }
    
    .price-contain-campaign {
        font-size: min(0.14rem, 14px);
        font-weight: 800;
        line-height: min(0.14rem, 14px);
    }
    
    .price-contain-one-month {
        font-size: min(0.4rem, 40px);
        line-height: min(0.4rem, 40px);
        font-weight: 600;
    }
    
    .price-free {
        font-weight: 600;
        font-size: min(0.64rem, 64px);
        color: rgba(235, 87, 87, 1);
    }
    
    .price-important-points {
        text-align: center;
    }
    
    .price-important-contain {
        background-color: #F6F6F6;
        display: inline-block;
        padding: min(0.3rem, 30px) min(0.8rem, 80px);
        text-align: left;
        font-size: min(0.16rem, 16px);
        font-weight: 500;
    }
    
    .service-all {
        background-color: #FFFAD2;
        z-index: -5;
    }
    
    .service-background p {
        font-weight: 700;
        font-size: min(2rem, 200px);
        line-height: min(1.6rem, 160px);
        color: rgba(254, 247, 166, 1);
        z-index: 0;
        position: absolute;
        top: min(1.8rem, 180px);
        right: min(1.2rem, 120px);
    }
    
    .service-contain {
        padding: min(1.8rem, 180px) min(1.2rem, 120px);
        max-width: 1440px;
        margin: 0 auto;
        position: relative;
    }
    
    .service-head h2 {
        font-size: min(0.48rem, 48px);
        font-weight: 600;
        margin: 0 0 min(1.2rem, 120px);
    }
    
    .service-contents {
        text-align: center;
    }
    
    .service-content {
        display: inline-block;
        text-align: center;
        background-color: #FAFAFA;
        border-radius: min(0.3rem, 30px);
        height: min(4.91rem, 491px);
        width: min(3.83rem, 383px);
        vertical-align: top;
        position: relative;
    }
    
    .service-content img {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .service-img-1 {
        width: min(2.99rem, 299px);
    }
    
    .service-img-2 {
        width: min(2.5rem, 250px);
        height: min(2.62rem, 262px);
    }
    
    .service-img-3 {
        width: min(3.69rem, 369px);
        height: min(2.52rem, 252px);
    }
    
    .service-content-text {
        margin: min(2.62rem, 262px) 0 0;
    }
    
    #service-content-mid {
        margin: 0 min(0.15rem, 15px);
    }
    
    .service-content-head {
        font-size: min(0.24rem, 24px);
        font-weight: 600;
        margin: min(0.2rem, 20px) 0;
    }
    
    .secret-body {
        padding: min(1.8rem, 180px) min(1.2rem, 120px);
        max-width: 1440px;
        position: relative;
        margin: 0 auto;
    }
    
    .secret-background {
        color: rgba(246, 246, 246, 1);
        font-size: min(2rem, 200px);
        font-weight: 700;
        line-height: min(1.6rem, 160px);
        position: absolute;
        top: min(1.8rem, 180px);
        right: min(1.2rem, 120px);
        z-index: -2;
    }
    
    .secret-logo h2 {
        font-size: min(0.48rem, 48px);
        font-weight: 600;
        line-height: min(0.48rem, 48px);
        margin: 0 0 min(0.8rem, 80px);
    }
    
    .secret-lists {
        display: inline-block;
    }
    
    .secret-list {
        margin: min(0.2rem, 20px) 0;
    }
    
    .secret-list span {
        color: rgba(235, 87, 87, 1);
    }
    
    .secret-list-top {
        font-size: min(0.24rem, 24px);
        line-height: min(0.24rem, 24px);
        font-weight: 600;
    }
    
    .secret-list-text {
        font-size: min(0.16rem, 16px);
        line-height: min(0.16rem, 16px);
        font-weight: 500;
    }
    
    .secret-list-text-sub {
        font-size: min(0.12rem, 12px);
        line-height: min(0.12rem, 12px);
    }
    
    .secret-list-body {
        vertical-align: middle;
        display: inline-block;
    }
    
    .secret-list-number {
        display: inline-block;
        vertical-align: middle;
        font-size: min(0.4rem, 40px);
        line-height: min(0.4rem, 40px);
        color: rgba(235, 87, 87, 1);
        font-weight: 700;
        padding: 0 min(0.4rem, 40px);
    }
    
    .secret-list-contain {
        display: inline-block;
        border: 1px solid;
        border-color: rgba(230, 233, 255, 1);
        box-sizing: border-box;
        border-radius: 10px;
        background-color: #FFFFFF;
        padding: min(0.24rem, 24px) 0;
        width: clamp(502px, 7rem, 700px);
    }
    
    .secret-img {
        display: inline-block;
    }
    
    .secret-img img {
        width: min(4.54rem, 454px);
        position: absolute;
        top: min(3.12rem, 312px);
        right: min(1.2rem, 120px);
        z-index: -1;
    }